/*-- scss:defaults --*/

// fonts
$font-family-sans-serif: 'Verdana', 'Corbel', 'Droid Serif', 'Palatino Linotype', 'Book Antiqua', Palatino, 'Microsoft YaHei', 'Songti SC', sans-serif !default;
   
// colors
$body-bg: #ffffff !default;
$body-color: #2a9bd3 !default;
$link-color: $body-color !default;

$code-bg: $body-color !default;
$code-color: $body-bg !default;

$code-block-bg: #d3e5a7 !default;
$code-block-border-color: $body-color !default;

/*-- scss:rules --*/

.picture {
  border-style: solid;
  border-width: 3pt;
  border-color: $body-color;
  border-radius: 50%;
  padding: 5pt;
  height: 50%;
  width: auto;
}

#title-slide {
  text-align: left;
}

#title-slide .institute, #title-slide .quarto-title-affiliation {
  font-style: italic;
  font-size: 60%;
}

#title-slide .author, #title-slide .quarto-title-author-name {
  color: $body-color;
}

#title-slide .quarto-title-authors {
  display: flex;
  justify-content: left;

  .quarto-title-author {
    padding-left: 0em;
    padding-right: 0em;
    width: 100%;
  }
}

#title-slide p.author::before, #title-slide div.quarto-title-author::before {
  content: "";
  display: block;
  border: none;
  background-color: $body-color;
  color: $body-color;
  height: 3px;
  margin-bottom: 1em;
}

#title-slide p, #title-slide a {
  color: #93be25;
}

.footer {
  bottom: 10px !important;
  color: $body-color !important;
}

.slide-logo {
  display: block !important;
  position: fixed !important;
  top: 0 !important;
  right: 10px !important;
  max-height: 15% !important;
  height: 100% !important;
  width: auto !important;
  color: $body-color !important;
}

.slide-menu-button {
  left: 10px !important;
  bottom: 10px !important;
}

.slide-number, .reveal.has-logo .slide-number {
  bottom: 10px !important;
  right: 10px !important;
  top: unset !important;
  color: $body-color !important;
}

.cell-output {
  border: 1px solid $body-color;
  border-radius: 4px;
}

.center-x {
  text-align: center;
}

.center-xy {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translateY(-50%), translateX(-50%);
  transform: translateY(-50%), translateX(-50%);
}
